@charset "UTF-8";

.banner__word--last-word {
    margin-right: 0 !important;
}



body {
    padding: 0;
    margin: 0;
}


.gap > * {
    margin: 0 5px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.margin-auto {
    margin: 0 auto;
}

.col-auto {
    flex: 1 1 auto;
}

.col-1 {
    width: 8.33333%;
}

.col-2 {
    width: 16.66666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33332%;
}

.col-5 {
    width: 41.66665%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33331%;
}

.col-8 {
    width: 66.66664%;
}

.col-9 {
    width: 74.99997%;
}

.col-10 {
    width: 83.3333%;
}

.col-11 {
    width: 91.66663%;
}

.col-12 {
    width: 100%;
}

.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.jc-around {
    justify-content: space-around;
}

.jc-between {
    justify-content: space-between;
}

.ai-stretch {
    align-items: stretch;
}

.ai-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-baseline {
    align-items: baseline;
}

.ai-end {
    align-items: flex-end;
}

.as-start {
    align-self: flex-start;
}

.as-center {
    align-self: center;
}

.as-end {
    align-self: flex-end;
}

.as-stretch {
    align-self: stretch;
}

.centered {
    align-items: center;
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.no-wrap {
    flex-wrap: nowrap;
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

.ta-right {
    text-align: right;
}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 5%;
    }

    .flex-row-xl {
        display: flex;
    }

    .flex-col-xl {
        display: flex;
        flex-direction: column;
    }

    .col-auto-xl {
        flex: 1 1 auto;
    }

    .col-1-xl {
        width: 8.33333%;
    }

    .col-2-xl {
        width: 16.66666%;
    }

    .col-3-xl {
        width: 25%;
    }

    .col-4-xl {
        width: 33.33332%;
    }

    .col-5-xl {
        width: 41.66665%;
    }

    .col-6-xl {
        width: 50%;
    }

    .col-7-xl {
        width: 58.33331%;
    }

    .col-8-xl {
        width: 66.66664%;
    }

    .col-9-xl {
        width: 74.99997%;
    }

    .col-10-xl {
        width: 83.3333%;
    }

    .col-11-xl {
        width: 91.66663%;
    }

    .col-12-xl {
        width: 100%;
    }

    .jc-center-xl {
        justify-content: center;
    }

    .jc-start-xl {
        justify-content: flex-start;
    }

    .jc-end-xl {
        justify-content: flex-end;
    }

    .jc-around-xl {
        justify-content: space-around;
    }

    .jc-between-xl {
        justify-content: space-between;
    }

    .ai-stretch-xl {
        align-items: stretch;
    }

    .ai-start-xl {
        align-items: flex-start;
    }

    .ai-center-xl {
        align-items: center;
    }

    .ai-baseline-xl {
        align-items: baseline;
    }

    .ai-end-xl {
        align-items: flex-end;
    }

    .as-start-xl {
        align-self: flex-start;
    }

    .as-center-xl {
        align-self: center;
    }

    .as-end-xl {
        align-self: flex-end;
    }

    .as-stretch-xl {
        align-self: stretch;
    }

    .centered-xl {
        align-items: center;
        justify-content: center;
    }

    .wrap-xl {
        flex-wrap: wrap;
    }

    .no-wrap-xl {
        flex-wrap: nowrap;
    }

    .ta-center-xl {
        text-align: center;
    }

    .ta-left-xl {
        text-align: left;
    }

    .ta-right-xl {
        text-align: right;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        padding: 0 5%;
    }

    .flex-row-lg {
        display: flex;
    }

    .flex-col-lg {
        display: flex;
        flex-direction: column;
    }

    .col-auto-lg {
        flex: 1 1 auto;
    }

    .col-1-lg {
        width: 8.33333%;
    }

    .col-2-lg {
        width: 16.66666%;
    }

    .col-3-lg {
        width: 25%;
    }

    .col-4-lg {
        width: 33.33332%;
    }

    .col-5-lg {
        width: 41.66665%;
    }

    .col-6-lg {
        width: 50%;
    }

    .col-7-lg {
        width: 58.33331%;
    }

    .col-8-lg {
        width: 66.66664%;
    }

    .col-9-lg {
        width: 74.99997%;
    }

    .col-10-lg {
        width: 83.3333%;
    }

    .col-11-lg {
        width: 91.66663%;
    }

    .col-12-lg {
        width: 100%;
    }

    .jc-center-lg {
        justify-content: center;
    }

    .jc-start-lg {
        justify-content: flex-start;
    }

    .jc-end-lg {
        justify-content: flex-end;
    }

    .jc-around-lg {
        justify-content: space-around;
    }

    .jc-between-lg {
        justify-content: space-between;
    }

    .ai-stretch-lg {
        align-items: stretch;
    }

    .ai-start-lg {
        align-items: flex-start;
    }

    .ai-center-lg {
        align-items: center;
    }

    .ai-baseline-lg {
        align-items: baseline;
    }

    .ai-end-lg {
        align-items: flex-end;
    }

    .as-start-lg {
        align-self: flex-start;
    }

    .as-center-lg {
        align-self: center;
    }

    .as-end-lg {
        align-self: flex-end;
    }

    .as-stretch-lg {
        align-self: stretch;
    }

    .centered-lg {
        align-items: center;
        justify-content: center;
    }

    .wrap-lg {
        flex-wrap: wrap;
    }

    .no-wrap-lg {
        flex-wrap: nowrap;
    }

    .ta-center-lg {
        text-align: center;
    }

    .ta-left-lg {
        text-align: left;
    }

    .ta-right-lg {
        text-align: right;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        padding: 0 5%;
    }

    .flex-row-md {
        display: flex;
    }

    .flex-col-md {
        display: flex;
        flex-direction: column;
    }

    .col-auto-md {
        flex: 1 1 auto;
    }

    .col-1-md {
        width: 8.33333%;
    }

    .col-2-md {
        width: 16.66666%;
    }

    .col-3-md {
        width: 25%;
    }

    .col-4-md {
        width: 33.33332%;
    }

    .col-5-md {
        width: 41.66665%;
    }

    .col-6-md {
        width: 50%;
    }

    .col-7-md {
        width: 58.33331%;
    }

    .col-8-md {
        width: 66.66664%;
    }

    .col-9-md {
        width: 74.99997%;
    }

    .col-10-md {
        width: 83.3333%;
    }

    .col-11-md {
        width: 91.66663%;
    }

    .col-12-md {
        width: 100%;
    }

    .jc-center-md {
        justify-content: center;
    }

    .jc-start-md {
        justify-content: flex-start;
    }

    .jc-end-md {
        justify-content: flex-end;
    }

    .jc-around-md {
        justify-content: space-around;
    }

    .jc-between-md {
        justify-content: space-between;
    }

    .ai-stretch-md {
        align-items: stretch;
    }

    .ai-start-md {
        align-items: flex-start;
    }

    .ai-center-md {
        align-items: center;
    }

    .ai-baseline-md {
        align-items: baseline;
    }

    .ai-end-md {
        align-items: flex-end;
    }

    .as-start-md {
        align-self: flex-start;
    }

    .as-center-md {
        align-self: center;
    }

    .as-end-md {
        align-self: flex-end;
    }

    .as-stretch-md {
        align-self: stretch;
    }

    .centered-md {
        align-items: center;
        justify-content: center;
    }

    .wrap-md {
        flex-wrap: wrap;
    }

    .no-wrap-md {
        flex-wrap: nowrap;
    }

    .ta-center-md {
        text-align: center;
    }

    .ta-left-md {
        text-align: left;
    }

    .ta-right-md {
        text-align: right;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding: 0 5%;
    }

    .flex-row-sm {
        display: flex;
    }

    .flex-col-sm {
        display: flex;
        flex-direction: column;
    }

    .col-auto-sm {
        flex: 1 1 auto;
    }

    .col-1-sm {
        width: 8.33333%;
    }

    .col-2-sm {
        width: 16.66666%;
    }

    .col-3-sm {
        width: 25%;
    }

    .col-4-sm {
        width: 33.33332%;
    }

    .col-5-sm {
        width: 41.66665%;
    }

    .col-6-sm {
        width: 50%;
    }

    .col-7-sm {
        width: 58.33331%;
    }

    .col-8-sm {
        width: 66.66664%;
    }

    .col-9-sm {
        width: 74.99997%;
    }

    .col-10-sm {
        width: 83.3333%;
    }

    .col-11-sm {
        width: 91.66663%;
    }

    .col-12-sm {
        width: 100%;
    }

    .jc-center-sm {
        justify-content: center;
    }

    .jc-start-sm {
        justify-content: flex-start;
    }

    .jc-end-sm {
        justify-content: flex-end;
    }

    .jc-around-sm {
        justify-content: space-around;
    }

    .jc-between-sm {
        justify-content: space-between;
    }

    .ai-stretch-sm {
        align-items: stretch;
    }

    .ai-start-sm {
        align-items: flex-start;
    }

    .ai-center-sm {
        align-items: center;
    }

    .ai-baseline-sm {
        align-items: baseline;
    }

    .ai-end-sm {
        align-items: flex-end;
    }

    .as-start-sm {
        align-self: flex-start;
    }

    .as-center-sm {
        align-self: center;
    }

    .as-end-sm {
        align-self: flex-end;
    }

    .as-stretch-sm {
        align-self: stretch;
    }

    .centered-sm {
        align-items: center;
        justify-content: center;
    }

    .wrap-sm {
        flex-wrap: wrap;
    }

    .no-wrap-sm {
        flex-wrap: nowrap;
    }

    .ta-center-sm {
        text-align: center;
    }

    .ta-left-sm {
        text-align: left;
    }

    .ta-right-sm {
        text-align: right;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        padding: 0 5%;
    }

    .flex-row-xs {
        display: flex;
    }

    .flex-col-xs {
        display: flex;
        flex-direction: column;
    }

    .col-auto-xs {
        flex: 1 1 auto;
    }

    .col-1-xs {
        width: 8.33333%;
    }

    .col-2-xs {
        width: 16.66666%;
    }

    .col-3-xs {
        width: 25%;
    }

    .col-4-xs {
        width: 33.33332%;
    }

    .col-5-xs {
        width: 41.66665%;
    }

    .col-6-xs {
        width: 50%;
    }

    .col-7-xs {
        width: 58.33331%;
    }

    .col-8-xs {
        width: 66.66664%;
    }

    .col-9-xs {
        width: 74.99997%;
    }

    .col-10-xs {
        width: 83.3333%;
    }

    .col-11-xs {
        width: 91.66663%;
    }

    .col-12-xs {
        width: 100%;
    }

    .jc-center-xs {
        justify-content: center;
    }

    .jc-start-xs {
        justify-content: flex-start;
    }

    .jc-end-xs {
        justify-content: flex-end;
    }

    .jc-around-xs {
        justify-content: space-around;
    }

    .jc-between-xs {
        justify-content: space-between;
    }

    .ai-stretch-xs {
        align-items: stretch;
    }

    .ai-start-xs {
        align-items: flex-start;
    }

    .ai-center-xs {
        align-items: center;
    }

    .ai-baseline-xs {
        align-items: baseline;
    }

    .ai-end-xs {
        align-items: flex-end;
    }

    .as-start-xs {
        align-self: flex-start;
    }

    .as-center-xs {
        align-self: center;
    }

    .as-end-xs {
        align-self: flex-end;
    }

    .as-stretch-xs {
        align-self: stretch;
    }

    .centered-xs {
        align-items: center;
        justify-content: center;
    }

    .wrap-xs {
        flex-wrap: wrap;
    }

    .no-wrap-xs {
        flex-wrap: nowrap;
    }

    .ta-center-xs {
        text-align: center;
    }

    .ta-left-xs {
        text-align: left;
    }

    .ta-right-xs {
        text-align: right;
    }
}

body {
    font-family: sans-serif;
}

.img-container {
    height: auto;
}

.img-container img {
    width: 100%;
}

.menu-grid {
    display: grid;
    align-items: center;
    grid-template-areas: "logo menu-left menu-right";
    grid-auto-columns: auto 1fr 1fr;
}

@media only screen and (max-width: 768px) {
    .menu-grid {
        grid-template-areas: "logo . ."
            "menu-left menu-left menu-left"
            "menu-right menu-right menu-right ";
    }
}

.menu-grid.mobile {
    height: 100vh;
}

.logo {
    margin-right: 30px;
    font-family: 'Monoton', cursive;
    font-size: 48px;
    line-height: 1.2em;
    grid-area: logo;
    cursor: pointer;
}

.logo--first-letter {
    color: #FFFF00;
}

.logo--second-letter {
    color: #B87EBB;
}

.logo--last-letter {
    color: #99FF33;
}

.menu-icon {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    cursor: pointer;
    top: 18px;
    right: 10%;
    grid-area: menu-icon;
}

@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}

.menu {
    position: fixed;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(to right, #00c1cf 0%, #b97ebb 50%, #00c1cf 100%);
    z-index: 99999;
}

.menu__left {
    grid-area: menu-left;
    justify-self: start;
}

@media only screen and (max-width: 768px) {
    .menu__left {
        justify-self: center;
    }
}

.menu__right {
    grid-area: menu-right;
    justify-self: end;
}

@media only screen and (max-width: 768px) {
    .menu__right {
        margin-bottom: 30px;
        justify-self: center;
    }
}

.menu__list {
    margin-left: 25px;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 768px) {
    .menu__list {
        display: none;
        margin-top: 30px;
        margin-left: 0px;
    }
}

.menu__item {
    margin-right: 25px;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .menu__item {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s ease;
}

@media only screen and (max-width: 768px) {
    .menu__link {
        font-size: 16px;
    }
}

.menu__link:hover {
    color: #99FF33;
}

.banner__video-wrapper {
    height: 100vh;
}

.banner__video-wrapper .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__video-wrapper .overlay {
    position: absolute;
    z-index: 1;
}

.banner__video-wrapper .overlay p {
    font-size: 32px;
    color: #9f3;
}

.banner__text {
    font-size: 48px;
    color: #fff;
}

@media only screen and (max-width: 992px) {
    .banner__text {
        font-size: 40px;
    }
}

.banner__word {
    margin-right: 0px;
    font-family: 'Monoton', cursive;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #fff;
}

.banner__wordw {
    font-family: 'Monoton', cursive;
    color: #fff;
}

.banner__word:first-letter {
    font-size: 58px;
    color: #F398A9;
}

@media only screen and (max-width: 992px) {
    .banner__word:first-letter {
        font-size: 48px;
    }
}

.banner__word:last-child {
    margin-right: 0;
}

.banner__word--first-word:first-letter {
    color: #FFFF00;
}

.banner__word--second-word:first-letter {
    color: #B87EBB;
}

.banner__word--last-word:first-letter {
    color: #99FF33;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.about__title {
    margin-bottom: 50px;
    color: #B87EBB;
}

.about__text {
    font-size: 18px;
    line-height: 1.7em;
    color: #310b49;
}
